.login-section,
.register-section {
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    padding: 2rem 0;
    background-color: #eee;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.img-fluid {
    width: 85%;
    height: 80%;
}

a.btn-link,
a.text-primary {
    text-decoration: none;
}

.form-wrapper {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.form-control::placeholder {
    font-size: 14px;
    color: #a8a9ab !important;
    opacity: 1;
}

#error-message {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
