<footer class="footer">
    <div class="ft-center">
        <nav class=navft>
            <div class="divn">
                <h3><span class="hding">Mua Sắm Và Tìm Hiểu</span></h3>

                <li><a href="#">Cửa Hàng</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">iPad</a></li>
                <li><a href="#">iPhone</a></li>
                <li><a href="#">Watch</a></li>
                <li><a href="#">AirPods</a></li>
                <li><a href="#">TV & Nhà</a></li>
                <li><a href="#">AirTag</a></li>
                <li><a href="#">Phụ Kiện</a></li>

                <h3><span class="hding">Ví Apple</span></h3>

                <li><a href="#">Ví</a></li>
                <li><a href="#">Apple Pay</a></li>
            </div>
            <div class="divn">
                <h3><span class="hding">Tài Khoản</span></h3>

                <li><a href="#">Quản Lý ID Apple Của Bạn</a></li>
                <li><a href="#">Tài Khoản Apple Store</a></li>
                <li><a href="#">iCloud.com</a></li>

                <h3><span class="hding">Giải Trí</span></h3>

                <li><a href="#">Apple One</a></li>
                <li><a href="#">Apple TV+</a></li>
                <li><a href="#">Apple Music</a></li>
                <li><a href="#">Apple Arcade</a></li>
                <li><a href="#">Apple Podcasts</a></li>
                <li><a href="#">Apple Books</a></li>

            </div>
            <div class="divn">
                <h3><span class="hding">Apple Store</span></h3>

                <li><a href="#">Ứng Dụng Apple Store</a></li>
                <li><a href="#">Apple Trade In</a></li>
                <li><a href="#">Tài Chính</a></li>
                <li><a href="#">Tình Trạng Đơn Hàng</a></li>
                <li><a href="#">Hỗ Trợ Mua Hàng</a></li>

            </div>
            <div class="divn">
                <h3><span class="hding">Dành Cho Doanh Nghiệp</span></h3>
                <li><a href="#">Apple Và Doanh Nghiệp</a></li>
                <li><a href="#">Mua Hàng Cho Doanh Nghiệp</a></li>

                <h3><span class="hding">Cho Giáo Dục</span></h3>
                <li><a href="#">Apple Và Giáo Dục</a></li>
                <li><a href="#">Mua Hàng Cho Bậc Đại Học</a></li>

                <h3><span class="hding">Cho Chăm Sóc Sức Khỏe</span></h3>
                <li><a href="#">Apple Trong Chăm Sóc Sức Khỏe</a></li>
                <li><a href="#">Sức Khỏe Trên Apple Watch</a></li>

            </div>
            <div class="divn">
                <h3><span class="hding">Giá Trị Cốt Lõi Của
                        Apple</span></h3>
                <li><a href="#">Trợ Năng</a></li>
                <li><a href="#">Môi Trường</a></li>
                <li><a href="#">Quyền Riêng Tư</a></li>
                <li><a href="#">Chuỗi Cung Ứng</a></li>

                <h3><span class="hding">Về Apple</span></h3>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Lãnh Đạo Của Apple</a></li>
                <li><a href="#">Nhà Đầu Tư</a></li>
                <li><a href="#">Đạo Đức & Quy Tắc</a></li>
                <li><a href="#">Sự Kiện</a></li>
                <li><a href="#">Liên Hệ Apple</a></li>

            </div>
        </nav>
        <section class="ft-2">
            <div class="divn1">
                <li class="single-line">Xem thêm cách để mua
                    hàng: <a href="#">Tìm cửa hàng bán lẻ</a>
                    gần bạn.<span>Hoặc gọi 1800 1192.</span></li>
            </div>
            <div class="divn2">
                <li class="single-line">Bản quyền &copy Apple
                    Inc. 2024 Bảo lưu mọi quyền.</li>
                <ul class="inline-list">
                    <li><a href="#" class="item-1">Chính Sách
                            Quyền Riêng Tư</a></li>
                    <li><a href="#" class="item-1">Điều Khoản Sử
                            Dụng</a></li>
                    <li><a href="#" class="item-1">Bán Hàng Và
                            Hoàn Tiền</a></li>
                    <li><a href="#" class="item-1">Pháp Lý</a></li>
                    <li><a href="#" class="item-1">Bản Đồ Trang
                            Web</a></li>
                </ul>
                <a href="#" class="item-2">Việt Nam</a>
            </div>
        </section>
        <div class="divn3">
            <ul>
                <li>ĐKKD số 0313510827, do Sở KH&ĐT thành phố Hồ
                    Chí Minh cấp ngày 28 tháng 10 năm 2015</li>
                <li>Giấy phép kinh doanh số 0313510827/KD-0137
                    do Sở Công Thương thành phố Hồ Chí Minh cấp
                    ngày 23 tháng 5 năm 2018</li>
                <li>Địa chỉ: Phòng 901, Ngôi Nhà Đức Tại Tp. Hồ
                    Chí Minh, số 33, đường Lê Duẩn, Phường Bến
                    Nghé, Quận 1, thành phố Hồ Chí Minh, Việt
                    Nam</li>
                <li>Điện thoại: 1800 1192</li>
            </ul>
            <span>Công Ty TNHH Apple Việt Nam</span>
        </div>
        <div class="divn4">
            <img src="../img/logo-local-compliance.png">
        </div>
    </div>

</footer>