<div>
    <video loop playsinline class="video-apple" autoplay muted>
        <source src="../img/large_2x (1).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <a href class="apple-event text-center">
        <div class="row justify-content-center">

            <div style="
                    margin-top: 400px">
                <span class="image-span-video container-fluid"></span>
                <h3 class="col" style="
                    width: 45vw; 
                    margin:10px auto;
                    font-weight: 350;">Hội Nghị Các Nhà Phát Triển Toàn Cầu Của
                    Apple.
                    Tham gia trực tuyến trên trang web tại Mỹ của chúng
                    tôi ngày 11-15 tháng 6.</h3>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                    hiểu
                    thêm</button>
            </div>
        </div>
    </a>
    <a href class="ipad text-center layer1">
        <div class="row justify-content-center">
            <h2 class="layer-font-h2">
                iPad Pro
            </h2>
            <div>
                <h3 class="col">Mỏng không tưởng. Mạnh không ngờ.</h3>
                <p class="col" style="color: rgba(200,200,200,0.8); font-size: 20px;">Theo
                    dõi để biết khi có hàng</p>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                    hiểu
                    thêm</button>
                <button type="button" class="btn rounded-pill btn-primary text-primary but">Xem
                    giá</button>
            </div>
        </div>
    </a>
    <a href class="ipad1 text-center">
        <div class="row justify-content-center">
            <span class="image-span container-fluid"></span>
            <div>
                <h3 class="col">Hai kích cỡ. Chip nhanh hơn. Đa zi năng.</h3>
                <p class="col" style="color: rgba(0, 0, 0, 0.56); font-size: 19px;">Theo
                    dõi để biết khi có hàng</p>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-dark rounded-pill text-light">Tìm
                    hiểu
                    thêm</button>
                <button type="button" class="btn ipad-btn rounded-pill btn-dark text-light-emphasis"
                    style="background-color:rgba(0,0,0,0);">Xem giá</button>
            </div>
        </div>
    </a>

    <a href class="iphone text-center layer1">
        <div class="row justify-content-center">
            <h2 class="layer-font-h2">
                iPhone 15 Pro
            </h2>
            <div>
                <h3 class="col">Titan. Thật bền chắc. Thật nhẹ. Thật
                    Pro.</h3>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                    hiểu
                    thêm</button>
                <button type="button" class="btn rounded-pill btn-primary text-primary but">Mua</button>
            </div>
        </div>
    </a>
    <!--layer-->
    <div style="background-color: #fff !important;">
        <div class="row layerbao mb-6" style="background-color: #fff;">
            <div class="col-6" style="padding-right: 7px !important;">
                <a href class="text-center layer1-1">
                    <div class="row justify-content-center">
                        <h4 class="headline-trang">Iphone 15</h4>

                        <div>
                            <h5 class="col subline-trang">Camera mới.
                                Thiết
                                kế
                                mới. Mới lịm tim.</h5>
                        </div>
                        <div class="d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                                hiểu
                                thêm</button>
                            <button type="button"
                                class="btn rounded-pill btn-primary text-primary but-trang1">Mua</button>
                        </div>
                    </div>
                </a>

                <a href class="text-center layer1-2">
                    <div class="row justify-content-center">
                        <span class="image-span1 container-fluid"></span>
                        <div>
                            <h5 class="col subline">Thông minh hơn. Sáng
                                Hơn.
                                Quyền năng hơn.</h5>
                        </div>
                        <div class="d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                                hiểu
                                thêm</button>
                            <button type="button" class="btn rounded-pill btn-primary text-primary but">Mua</button>
                        </div>
                    </div>
                </a>

                <a href class="text-center layer1-3">
                    <div class="row justify-content-center">
                        <h4 class="headline-trang">Macbook Pro</h4>

                        <div>
                            <h5 class="col subline-trang">Chấn động. Ấn
                                tượng.</h5>
                        </div>
                        <div class="d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                                hiểu
                                thêm</button>
                            <button type="button"
                                class="btn rounded-pill btn-primary text-primary but-trang">Mua</button>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-6" style="padding-left: 7px !important;">
                <a href class="text-center layer2-1">
                    <div class="row justify-content-center">
                        <h4 class="headline-trang">Macbook Air</h4>

                        <div>
                            <h5 class="col subline-trang">Cỗ máy M3. Gọn
                                bâng.
                                Cân mọi việc.<h5>
                        </div>
                        <div class="d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                                hiểu
                                thêm</button>
                            <button type="button"
                                class="btn rounded-pill btn-primary text-primary but-trang1">Mua</button>
                        </div>
                    </div>
                </a>

                <a href class="text-center layer2-2">
                    <div class="row justify-content-center">
                        <span class="image-span2 container-fluid"></span>
                        <div>
                            <h5 class="col subline-trang">Một
                                đẳng
                                cấp
                                phiêu lưu mới.</h5>
                        </div>
                        <div class="d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                                hiểu
                                thêm</button>
                            <button type="button"
                                class="btn rounded-pill btn-primary text-primary but-trang">Mua</button>
                        </div>
                    </div>
                </a>

                <a href class="text-center layer2-3">
                    <div class="row justify-content-center">
                        <h4 class="headline">AirPods Pro</h4>

                        <div>
                            <h5 class="col subline">Âm thanh
                                thích
                                ứng.
                                Đang phát.</h5>
                        </div>
                        <div class="d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-primary rounded-pill text-light">Tìm
                                hiểu
                                thêm</button>
                            <button type="button" class="btn rounded-pill btn-primary text-primary but">Mua</button>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Hài •</p>
                <p class="inline-block">Điệp viên càng thâm niên, nói dối càng tự nhiên.</p>
            </div>


            <img src="../img/tv1.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Khoa học viễn tưởng •</p>
                <p class="inline-block">Một cuộc đời vô vàn khả năng.</p>
            </div>

            <img src="../img/tv2.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Tâm lý •</p>
                <p class="inline-block">Có những người đàn ông luôn là ẩn số.</p>
            </div>

            <img src="../img/tv3.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Hài •</p>
                <p class="inline-block">Gừng già chưa chắc đã cay.</p>
            </div>

            <img src="../img/tv4.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Hài •</p>
                <p class="inline-block">Cùng nhau chinh phục mục tiêu.</p>
            </div>

            <img src="../img/tv5.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Hài •</p>
                <p class="inline-block">Ở chốn thiên đường không có gì là không thể.</p>
            </div>

            <img src="../img/tv6.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Phiêu lưu •</p>
                <p class="inline-block">Có những bí mật không thể chôn vùi.</p>
            </div>

            <img src="../img/tv7.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Tâm lý •</p>
                <p class="inline-block">Từ Steven Spielberg,Tom Hanks, Gary Goetzman.</p>
            </div>

            <img src="../img/tv8.jpg" class="wrap1">
        </div>
        <div class="swiper-slide">

            <div class="anHien animate__animated animate__fadeInUp" style="color: white;
                            position: absolute;
                            bottom:60px;
                            left:40px;">
                <button type="button" class="btn rounded-pill btn-white text-black but-trang1">Xem Ngay</button>
                <p class="inline-block" style="margin-left:10px;">Tâm lý •</p>
                <p class="inline-block">Michael Douglas vào vai nhà lập quốc Hoa Kỳ làm nhiệm vụ bí mật.</p>
            </div>

            <img src="../img/tv9.jpg" class="wrap1">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <div class="box">
        <div style="height: 25px;
                        width:25px;
                        border: 1px solid #ffffff;
                        border-radius: 50%;
                        background-color: rgba(200,200,200,0.8);
                        margin-top: 7px;
                        position: absolute;
                        right: 91.5px;
                        z-index: 100;
                        ;"></div>
        <button class='button'></button>
    </div>
</div>

<script type="module" src="/public/js/home.js"></script>
